@tailwind base;
@tailwind components;
@tailwind utilities;



.dark-editor {
    --accentBase: var(--a);
    --accentBgSubtle: var(--ac);
    --accentBg: var(--ac);
    --accentBgHover: var(--af);
    --accentBgActive: var(--af);
    --accentLine: var(--a);
    --accentBorder: var(--a);
    --accentBorderHover: var(--af);
    --accentSolid: var(--af);
    --accentSolidHover: var(--af);
    --accentText: var(--p);
    --accentTextContrast: var(--pc);
  
    --baseBase: var(--p);
    --baseBgSubtle: var(--p);
    --baseBg: var(--p);
    --baseBgHover: var(--p);
    --baseBgActive: var(--p);
    --baseLine: var(--mauve6);
    --baseBorder: var(--mauve7);
    --baseBorderHover: var(--mauve8);
    --baseSolid: var(--mauve9);
    --baseSolidHover: var(--mauve10);
    --baseText: var(--p);
    --baseTextContrast: var(--mauve12);
  
    color: var(--p);
    background: var(--baseBg);
}
  

#bodyMessage .wmde-markdown.wmde-markdown-color {
    background: transparent;
}